html {
    background-color:wheat;
}

body * {
    box-sizing: border-box;
    white-space: pre;
    font-family: 'Ubuntu', sans-serif;
}

body > div > .Editors {
    display: flex;
    flex-direction: row;
}

.Editor {
    flex: 1;
    margin: 2ex;
    padding: 2ex;
    overflow-x: auto;
    background-color: white;
    box-shadow: 3px 3px tan;
}

.ZGrove > .Active {
    padding: 1ex;
    border: 2px solid #CCC;
}

.ZGrove > .Inactive {
    display: none;
}

.Cursor {
    width: max-content;
}

.Exp {
    width: max-content;
}

/* Show the active editor's cursor as a solid background color */

.Editor:focus .Cursor > .Exp {
    background-color: rgb(135, 204, 135);
}

.Editor:focus .Cursor > .Pat {
    background-color: rgb(130, 176, 202);
}

.Editor:focus .Cursor > .Typ {
    background-color: rgb(233, 221, 253);
}

/* Show inactive editors' cursors as dashed outlines */

.Editor:not(:focus) .Cursor > .Exp {
    border: 1px dashed rgb(135, 204, 135);
}

.Editor:not(:focus) .Cursor > .Pat {
    border: 1px dashed rgb(130, 176, 202);
}

.Editor:not(:focus) .Cursor > .Typ {
    border: 1px dashed rgb(233, 221, 253);
}

.Hole {
    color: #a040a0;
}
